<h2>Gestão do Sistema</h2>

<div class="grid">

  <div class="card clickable" routerLink="/clientes">

    <div class="card-header">

      <mat-icon class="icon">people</mat-icon>
        <div class="card-text">

          <h3>Clientes</h3>
          <span>Gerenciar clientes</span>

        </div>

    </div>

  </div>

  <div class="card disabled" routerLink="#">

    <div class="card-header"> 
      <mat-icon class="icon">apartment</mat-icon>
      <div class="card-text">

          <h3>Empreendimentos</h3>
          <span>Em breve</span>
          
        </div>
      
    </div>   

  </div>

  <div class="card disabled" routerLink="#">

    <div class="card-header">

      <mat-icon class="icon">description</mat-icon>
        <div class="card-text">

          <h3>Propostas</h3>
          <span>Em breve</span>
          
        </div>
      
    </div>

  </div>

</div>
