form {
    max-width: 500px;
    margin:0 auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input, select {
  width:  100%;
  max-width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  margin: 0; /* deixa o container controlar */
  padding: 8px 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1565c0;
}
